__pycache__/
*.old
*.log
*.pyc
*.tmp
*.tmp.*
*.swp
*.db
.venv
scratch*/
.vscode/
.DS_Store
node_modules/
.*token
tmp
*.tmp
.ipynb_checkpoints
mlruns
old/
.env
*.*-creds
rhods-internal-primary-cert-bundle-secret.yaml
__pycache__/
temp.*
*.orig
*.next
*.out

# egg-info
*.egg-info

# build
build/
dist/

# cache
.cache/
.pytest_cache/


# Helm secrets
helm/values-secrets.yaml

# Htpasswd files (contain passwords)
htpasswd.dry-run
htpasswd.workshop